body{
  background-color: #ffffff;
}

.place{
  background-color: #ffe89a !important;
  border-radius: 10px;
  font-weight: 500;
  justify-content: center;
  
}
.placement-zone {
  color: #111;
  font-weight: 200;
  display: inline;
}
.part1{
  background-color: aliceblue;
  border-radius: 20px;
  justify-content: center;
  color: #000 !important;
}
.part2{
  background-color: yellow;
  border-radius: 20px;
  justify-content: center;
  color: #000 !important;
}
.part3{
  background-color: #000;
  color: white;
  border-radius: 20px;
  justify-content: center;
 
}
.text-top {
  font-size: bold;
  ;
}
/* card */
.card-group{
  background-color: #ffe89a;
 display: flex;
 gap: 20px;

}
.card-img-top{
height: auto;
width: 100%;
}

.card-body{
  background-color: #000;
  color: blue;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}
h5{
  
  color: yellow !important;
  text-align: center;
}
p{
  
  text-align: center;
}
.text-muted{
  color: white!important;
  text-align: center;
}
.accordion-button:hover{
  color: red!important;}

  /* section 3 */
.card{
  margin: 5px;
}
.category-title{
  font-weight: bolder;
}